@model IEnumerable<Loteria.Model.Jogo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar novo jogo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoJogo.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConcurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroConcurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DezenasSorteadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremioAcumulado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoJogo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConcurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroConcurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DezenasSorteadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremioAcumulado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
